<center><h1>IPL DATA ANALSIS</h1></center>

In [2]:
import pandas as pd
df = pd.read_csv('matches.csv')

## 1) Count the total number of matches conducted in the year 2008

In [3]:
count_by_season = df['season'].value_counts()
print('The Total Number of Matches Conducted in year 2008 is ' + str(count_by_season[2008]))

The Total Number of Matches Conducted in year 2008 is 58

## 2) Find the city name where maximum and minimum number of matches conducted

In [4]:
count_by_city = df['city'].value_counts()
print('Maximum Matches- ' + count_by_city.index[0])
print('Minimum Matches - ' + count_by_city.index[-1])

Maximum Matches- Mumbai
Minimum Matches - Bloemfontein

## 3) Find total count of matches city wise

In [5]:
df['city'].value_counts()

city
Mumbai            101
Kolkata            77
Delhi              74
Bangalore          66
Hyderabad          64
Chennai            57
Jaipur             47
Chandigarh         46
Pune               38
Durban             15
Bengaluru          14
Visakhapatnam      13
Centurion          12
Ahmedabad          12
Rajkot             10
Mohali             10
Indore              9
Dharamsala          9
Johannesburg        8
Cuttack             7
Ranchi              7
Port Elizabeth      7
Cape Town           7
Abu Dhabi           7
Sharjah             6
Raipur              6
Kochi               5
Kanpur              4
Nagpur              3
Kimberley           3
East London         3
Bloemfontein        2
Name: count, dtype: int64

## 4) Find the Team which is maximum and minimum toss winner

In [6]:
count_by_toss = df['toss_winner'].value_counts()
print('Maximum Toss Winner - ' + count_by_toss.index[0])
print('Minimum Toss Winner - ' + count_by_toss.index[-1])

Maximum Toss Winner - Mumbai Indians
Minimum Toss Winner - Rising Pune Supergiant

## 5) Check the toss decision that the team has taken

In [7]:
count_by_toss = df['toss_winner'].value_counts()
team_group = df.groupby('toss_winner')
team_group_count = team_group['toss_decision'].value_counts()

print('Maximum Toss Winner - ')
print(team_group_count.loc[count_by_toss.index[0]])

print('Minimum Toss Winner - ')
print(team_group_count.loc[count_by_toss.index[-1]])

Maximum Toss Winner -
toss_decision
field    54
bat      44
Name: count, dtype: int64
Minimum Toss Winner -
toss_decision
field    6
Name: count, dtype: int64

## 6) Count the total number of normal and tie matches

In [8]:
Count_by_Result = df['result'].value_counts()
print('Normal Matches - '+str(Count_by_Result.iloc[0]))
print('Tie Matches - '+str(Count_by_Result.iloc[1]))

Normal Matches - 743
Tie Matches - 9

## 7) Find the team names where the match result is tie

In [9]:
Tie_Teams_Pairs = df.loc[(df['result'] == 'tie'),['team1','team2']]
print('The Following Pairs of Matches have a Tie')
Tie_Teams_Pairs

The Following Pairs of Matches have a Tie

                           team1                        team2
33                 Gujarat Lions               Mumbai Indians
125             Rajasthan Royals        Kolkata Knight Riders
189              Kings XI Punjab          Chennai Super Kings
387  Royal Challengers Bangalore          Sunrisers Hyderabad
400             Delhi Daredevils  Royal Challengers Bangalore
475             Rajasthan Royals        Kolkata Knight Riders
535             Rajasthan Royals              Kings XI Punjab
705        Kolkata Knight Riders               Delhi Capitals
746               Mumbai Indians          Sunrisers Hyderabad

## 8) Find the team name who won the match by highest runs

In [14]:
team_high_runs_highest_runs = df['win_by_runs'].max()
team_high_runs_highest_runs_teams = set(df.loc[(df['win_by_runs'] == team_high_runs_highest_runs), 'winner'])

for team in team_high_runs_highest_runs_teams:
    if team != 'nan':
        print(team)

Mumbai Indians

## 9) Find the team name who won the match by lowest runs

In [15]:
team_low_runs_least_runs_teams = set(df.loc[df['win_by_runs'] == df['win_by_runs'].min(), 'winner'])

for team in team_low_runs_least_runs_teams:
    if team != 'nan':
        print(team)

Rising Pune Supergiant
Royal Challengers Bangalore
Gujarat Lions
Delhi Daredevils
nan
Rising Pune Supergiants
Rajasthan Royals
Kolkata Knight Riders
Kings XI Punjab
Pune Warriors
Kochi Tuskers Kerala
Delhi Capitals
Chennai Super Kings
Deccan Chargers
Sunrisers Hyderabad
Mumbai Indians

## 10) Find the players who was awarded "Player of the match" more than 3 times

In [16]:
player_of_match_counts = df['player_of_match'].value_counts()
player_of_match_counts_3 = player_of_match_counts.loc[player_of_match_counts > 3]

for player in player_of_match_counts_3.index:
    print(player + ' - ' + str(player_of_match_counts_3.loc[player]))

CH Gayle - 21
AB de Villiers - 20
RG Sharma - 17
MS Dhoni - 17
DA Warner - 17
YK Pathan - 16
SR Watson - 15
SK Raina - 14
G Gambhir - 13
MEK Hussey - 12
AM Rahane - 12
V Kohli - 12
V Sehwag - 11
DR Smith - 11
AD Russell - 11
A Mishra - 11
JH Kallis - 10
KA Pollard - 10
SE Marsh - 9
AT Rayudu - 9
SP Narine - 9
Harbhajan Singh - 8
SR Tendulkar - 8
RA Jadeja - 8
UT Yadav - 8
Rashid Khan - 7
RV Uthappa - 7
AC Gilchrist - 7
M Vijay - 6
RR Pant - 6
S Dhawan - 6
SL Malinga - 6
A Nehra - 6
BJ Hodge - 6
HH Pandya - 6
SC Ganguly - 5
SPD Smith - 5
PA Patel - 5
KC Sangakkara - 5
DPMD Jayawardene - 5
BB McCullum - 5
JP Faulkner - 5
AJ Finch - 5
DW Steyn - 5
Yuvraj Singh - 5
SV Samson - 5
GJ Maxwell - 5
JJ Bumrah - 5
Sandeep Sharma - 5
JD Unadkat - 5
JC Buttler - 5
B Kumar - 5
KL Rahul - 4
KD Karthik - 4
JP Duminy - 4
MK Pandey - 4
NM Coulter-Nile - 4
AR Patel - 4
N Rana - 4
F du Plessis - 4
SK Warne - 4
CA Lynn - 4
SS Iyer - 4
ML Hayden - 4
KH Pandya - 4

## 11) Find the player who was awarded as player of the match maximum times

In [17]:
player_of_match_counts = df['player_of_match'].value_counts()
player_of_match_counts_max = player_of_match_counts.loc[player_of_match_counts == player_of_match_counts.max()]

for i in range(len(player_of_match_counts_max)):
    print(player_of_match_counts_max.index[i] + ' - ' + str(player_of_match_counts_max.iloc[i]))

CH Gayle - 21

## 12) Find the Venue where the team won the match by highest runs

In [72]:
Team_High_Runs_Highest_Runs = df['win_by_runs'].max()
Team_High_Runs_Highest_Runs_Venue = set(df.loc[(df['win_by_runs']==Team_High_Runs_Highest_Runs),'venue'])
for venue in Team_High_Runs_Highest_Runs_Venue:
    if(venue!='nan'):
        print(venue)

Feroz Shah Kotla

## 13) Find the Venue where the team won the match by lowest runs

In [5]:
df.loc[(df['win_by_runs']==0),'venue'].iloc[0]

'Maharashtra Cricket Association Stadium'

## 14) Find the Umpires who did umpiring maximum times

In [74]:
umpires = pd.concat([df['umpire1'],df['umpire2'],df['umpire3']]).value_counts()
umpires_max = umpires.max()
for i in range(len(umpires.value_counts())):
    if(umpires.iloc[i]==umpires_max):
        print(umpires.index[i]+' - '+str(umpires.iloc[i]))

S Ravi - 114

## 15) Find the Total matches played in each season

In [75]:
seasons_group = df.groupby('season')
seasons_group['id'].count()

season
2008    58
2009    57
2010    60
2011    73
2012    74
2013    76
2014    60
2015    59
2016    60
2017    59
2018    60
2019    60
Name: id, dtype: int64